PLUGINVERSE_PUBLIC_BASE_URL=https://ultralan.github.io/PluginVerse
PLUGINVERSE_SUPABASE_URL=
PLUGINVERSE_SUPABASE_ANON_KEY=
PLUGINVERSE_SUPABASE_SERVICE_ROLE_KEY=
PLUGINVERSE_BUILD_VERSION=0.1.0-local
